<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Coursera Cybersecurity Message Centre</title>
    <link rel="stylesheet" type="text/css" href="html/style.css" />
  </head>
  <body>
    <centre><h1>Message Centre (User: <%= username %>)</h1></centre>
    <div class="logout-form">
      <form action="logoff" method="POST">
        <input type="submit" value="Log Off" />
      </form>
    </div>
    <a href="/send_message">Send new message</a>
    <h1>Your messages</h1>
    <ul>
      <% for(var i=0; i<messages.length; i++) {%>
        <li><a href=<%= links[i]%>><%= messages[i] %></a></li>
      <% } %>
    </ul>
  </body>
</html>
